@page
@model CafeFurs.Web.Pages.Restaurants.ListModel
@{
}

<div class="d-flex flex-row justify-content-between">
    <h2>@Model.Message</h2>
    <a asp-page="./Update" class="btn btn-sm btn-success align-self-center">Add <i class="fa fa-plus"></i></a>
</div>

<br/>

<form>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" asp-for="SearchTerm" autocomplete="off" autofocus />
            <button class="btn btn-md btn-outline-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cousine</td>
            <td>
                <a asp-page="/Restaurants/Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-search-plus text-primary"></i>
                </a>
            </td>
            <td>
                <a asp-page="/Restaurants/Update" asp-route-restaurantId="@restaurant.Id">
                    <i class="fa fa-edit text-primary"></i>
                </a>
            </td>
        </tr>
    }
</table>